@model PersonalTouchMVC.Models.CardTemplate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardTemplate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimesTemplateSelected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimesTemplateSelected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
