@model PersonalTouchMVC.Models.CardBank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardBank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardFrontImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardFrontImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardBackImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardBackImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.EventId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
