@model IEnumerable<PersonalTouchMVC.Models.Payments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardExperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvcCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOnCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardExperationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CvcCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOnCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
